/* 
    Copyright (c) 2021 All Rights Reserved
    Divercity 
    Author: Tommy Chiu
    Date Created: July 20, 2021
    Date Updated: July 20, 2021
    Description: This is the main CSS used to style shared/general files.
*/

/*
    :root represents the <html> element and is identical to the selector html, except that its specificity is higher.
    Everything inside :root is a global variable that can be used within the same CSS file to make styling consistent and easy.

*/
:root 
{

    --clr-background-400: rgba(167, 126, 126, 0.795); /* color: --clr-background-400 */
    --clr-accent-600: #88ffdb94;
    --clr-text-100: #FFF;
    --clr-text-900: #000;
    
}


/* 
    This is basic styling for the entire page.
    * is a universal selector and is often found at the top of the main CSS file.

    There are 3 ways of calling specific elements to style between HTML and CSS.
    1. HTML element tags are called just by using their regular syntax. (i.e. body{... css}, p{... css}, and h1{...css}
    2. Class attributes are called by adding class="" to a HTML element tag and is called by using .class. (i.e. .paragraph1{... css}, .heading1{... css}

*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 0.5%;
}

body {
    height: 100%;
}

h1 {
    margin-top: 0.5%;
    margin-bottom: 0;
}

hr {
    width: 25%;
}

.div1 {
    border: 2px outside black;
    background-color: #ee5253;
    width: 25%;
    height: 50%;
    color: black;
}

.div2 {
    border: 2px solid black;
    background-color: #10ac84;
    width: 25%;
    height: 50%;
    color: black;
}

.karina {

    background-color: #0b3b83;
    color: white;
    border: 2px dashed blue; 
    border-radius: 12px;
    font-size: 35px;
    text-align: center;
    width: 25%;
    
}

.karina-div {
    display: flex;
    position: absolute;
    top: 10%;
    width: 125%;
}

.miku {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(62, 53, 189);
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: gray;
    height: 56px;

}

.miku-div {
    position: absolute; 
    left: 0px;
    top: 0px;
    width: 100%;
}

.andrew {
    position: absolute; 
    color: rgb(192, 17, 17);
    border: 2px solid rgb(6, 238, 56);
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 25%;
    background-color: rgb(8, 98, 150, 0.568);
    top: 75%
}

.andrew-div { 
    display: flex;
    
}